@charset "utf-8";

body {margin:0; padding:0; box-sizing:border-box; }
body *{margin:0; padding:0; box-sizing:border-box;}
ul, ol, dl {list-style:none;}
a {text-decoration:none; color:#444444;}
h1,h2,h3,h4,h5,h6 {font-size:16px; font-weight:normal;}
section, article, header, footer, nav, main {display:block;}
img {border:none;}
hr, legend, caption {width:100%; height:0; line-height:0; font-size:0; color:transparent; border:0; overflow:hidden;}
.readonly {position:absolute; font-size:0; height:0; line-height:0; overflow:hidden; left:-10000px;}
address {font-style:normal;}
fieldset {border:0 none;}
table {border-collapse:collapse;}
input[type="radio"], input[type="checkbox"]{vertical-align:middle; width:auto; border:none;}